<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Ergebnisse</title>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/angular.min.js"></script>
		<script src="/js/app.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="css/bootstrap.min.css" />

	</head>
	<body>
		<div id="nav">
			<ul>
				<li>
					<a href="/">&Uuml;bersicht</a>
				</li>
				<li>
					<a href="usertipp">Tippen</a>
				</li>
				<li>
					<a href="ergebnisse">Ergebnisse</a>
				</li>
				<li>
					<a href="livingroom">Monitor</a>
				</li>
			</ul>
		</div>
		<h1 align="center">Bundesligatippspiel</h1>
		<h3 align="center">Ergebniseingabe</h3>
		<div id='content' align="center" ng-controller="ergebnisseEintragen">
			Spieltag:
			<br>
			<select ng-model="selectItem"
			ng-options="(spieltag.SpieltagNr + '. Spieltag') for spieltag in spieltageJson"
			ng-click="printSelectedSpieltag(spieltag.SpieltagNr)"
			ng-init="printSelectedSpieltag(1)"></select>
			<table>
				<tr>
					<th style="padding: 5px"><b>Heim</b></th>
					<th style="padding: 5px"><b>Gast</b></th>
					<th style="padding: 5px"><b>Ergebnis</b></th>
				</tr>
				<tr ng-repeat="spiel in spiele">
					<td style="padding-left: 10px" style="padding-right: 10px">{{spiel.Heim}}</td>
					<td style="padding-left: 10px" style="padding-right: 10px">{{spiel.Gast}}</td>
					<td align="center">
					<input type="text" class="text-center" style="width: 35px" align="center" ng-model="spiel.ToreHeim"/>
					<b> : </b>
					<input type="text" class="text-center" style="width: 35px" align="center" ng-model='spiel.ToreGast'/>
					</td>
				</tr>
			</table>
			<div style="padding: 15px"></div>
			<button type="button" class="btn btn-success" ng-click="fillTable()">
				Abschicken
			</button>
		</div>
	</body>
</html>
