<!DOCTYPE html>
<html ng-app="overview">
  <head>
    <title><%= title %></title>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/overview.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
  	<div id="nav">
  		<ul>
  			<li><a href="/">&Uuml;bersicht</a></li>
  			<li><a href="usertipp">Tippen</a></li>
  			<li><a href="ergebnisse">Ergebnisse</a></li>
  		</ul>
  	</div>
    <h1><%= title %></h1>
    <p>&Uuml;bersicht der Tippspielergebnisse</p>
					<div id="content" ng-controller="ranking" ng-init="getRanking()">
			    	<table>
			    		<tr>
			    			<th><b>Team</b></th>
			    			<th><b>Punkte</b></th>
			    			<th><b>Spiele</b></th>
			    			<th><b>S</b></th>
			    			<th><b>U</b></th>
			    			<th><b>N</b></th>
			    		</tr>
			    		<tr ng-repeat="team in Teams">
			    			<td>{{team.Team}}</td>
			    			<td id="centerdData">{{team.Points}}</td>
			    			<td id="centerdData">{{team.Played}}</td>
			    			<td id="centerdData">{{team.S}}</td>
			    			<td id="centerdData">{{team.U}}</td>
			    			<td id="centerdData">{{team.N}}</td>
			    		</tr>
			    	</table>
			    </div>
  </body>
</html>
