<!DOCTYPE html>
<html>
	<head>
		<title>Wohnzimmermonitor</title>
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/overview.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<body>
		<div id="nav">
			<ul>
				<li>
					<a href="/">&Uuml;bersicht</a>
				</li>
				<li>
					<a href="usertipp">Tippen</a>
				</li>
				<li>
					<a href="ergebnisse">Ergebnisse</a>
				</li>
				<li>
					<a href="livingroom">Monitor</a>
				</li>
			</ul>
		</div>
		<h1 align="center">Wohnzimmermonitor</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-12" align="center">
					<h3>Rel. Luftfeuchtigkeit</h3>
					<img src="images/humidity.png" class="img-responsive" alt="Responsive image">
				</div>
			</div>
			<div style="padding: 10px"></div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" align="center">
					<h3>Festpalttennutzung auf dem Pi</h3>
					<img src="images/usage.png" class="img-responsive" alt="Responsive image">
				</div>
			</div>
		</div>
	</body>
</html>
