<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Tippabgabe</title>
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="css/bootstrap.min.css" />

	</head>
	<body>
		<div id="nav">
			<ul>
				<li>
					<a href="/">&Uuml;bersicht</a>
				</li>
				<li>
					<a href="usertipp">Tippen</a>
				</li>
				<li>
					<a href="ergebnisse">Ergebnisse</a>
				</li>
				<li>
					<a href="livingroom">Monitor</a>
				</li>
			</ul>
		</div>
		<h1 align="center">Bundesligatippspiel</h1>
		<h3 align="center">Tippabgabe</h3>
		<div align="center" id="content" ng-controller="spieltage">
			Spieltag:
			<br>
			<select ng-model="selectItem"
			ng-options="(spieltag.SpieltagNr + '. Spieltag') for spieltag in spieltageJson"
			ng-click="printSelectedSpieltag(spieltag.SpieltagNr)"
			ng-change="printSelectedSpieltag(spieltag.SpieltagNr)"
			ng-init="printSelectedSpieltag(1)"></select>
			<br>
			Spieler:
			<br>
			<select ng-model='userItem'
			ng-options="user.name for user in users"
			ng-change="printSelectedSpieltag(spieltag.SpieltagNr)"
			ng-click="printSelectedSpieltag(spieltag.SpieltagNr)"></select>
			<div style="padding: 15px"></div>
			<table>
				<tr>
					<th align="center" style="padding: 5px"><b>Heim</b></th>
					<th align="center" style="padding: 5px"><b>Gast</b></th>
					<th align="center" style="padding: 5px"><b>Tipp</b></th>
				</tr>
				<tr ng-repeat="t in userTipps">
					<td style="padding-left: 10px" style="padding-right: 10px">{{t.Heim}}</td>
					<td style="padding-left: 10px" style="padding-right: 10px">{{t.Gast}}</td>
					<td align='center'>
					<input type="text" class="text-center" style="width: 35px" ng-model="t.ToreHeim"/>
					<b> : </b>
					<input type="text" class="text-center" style="width: 35px" ng-model='t.ToreGast'/>
					</td>
				</tr>
			</table>
			<div style="padding: 15px"></div>
			<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
				Abschicken
			</button>
			<div id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title">Speichern?</h4>
						</div>
						<div class="modal-body">
							<p>
								Ist der richtige Benutzer ausgew&auml;hlt?<br>
								Aktuell ausgew&auml;hlt:
								<div class="alert alert-warning" role="alert">{{userItem.name}}</div>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Verwerfen
							</button>
							<button type="button" class="btn btn-success" ng-click="fillTable()" data-dismiss="modal">
								Speichern
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
